<div class="row justify-content-center">
  <div class="col-12 col-md-3 mb-2">
    <div class="event-header mt-5" style="text-align: center;">
      <h2>CREATE AN EVENT</h2>
      <div class="card-body mt-3">
        <form
          action="/events/create"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="input-group mb-2">
            <span class="input-group-text"><i
                class="fa-solid fa-microphone-lines"
              ></i></span>
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Name"
              value="{{event.name}}"
            />
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text"><i
                class="fa-solid fa-palette"
              ></i></span>
            <input
              type="text"
              name="artist"
              class="form-control"
              placeholder="Artist"
              value="{{event.artist}}"
            />
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text"><i
                class="fa-regular fa-calendar-days"
              ></i></span>
            <input
              type="date"
              name="date"
              class="form-control"
              placeholder="Date"
              value="{{event.date}}"
            />
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text"><i
                class="fa-solid fa-clock"
              ></i></span>
            <input
              type="text"
              name="hour"
              class="form-control"
              placeholder="Hour"
              value="{{event.hour}}"
            />
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text"><i
                class="fa-solid fa-person"
              ></i></span>
            <input
              type="number"
              name="capacity"
              class="form-control"
              placeholder="Capacity"
              value="{{event.capacity}}"
            />
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text"><i
                class="fa-solid fa-euro-sign"
              ></i></span>
            <input
              type="number"
              name="prize"
              class="form-control"
              placeholder="Prize"
              value="{{event.prize}}"
            />
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text"><i
                class="fa-solid fa-location-dot"
              ></i></span>
            <input
              type="text"
              name="address"
              class="form-control"
              placeholder="Address"
              value="{{event.address}}"
            />
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text"><i
                class="fa-solid fa-info"
              ></i></span>
            <textarea
              type="text"
              name="description"
              class="form-control"
              placeholder="Description"
            >{{event.description}}</textarea>
          </div>
          {{!ver clase de hoy para saber como se sube la imagen }}
          <div class="input-group mb-2">
            <span class="input-group-text"><i
                class="fa-solid fa-image"
              ></i></span>
            <input
              type="file"
              name="poster"
              class="form-control"
              placeholder="Poster"
              value="{{event.poster}}"
            />
          </div>
          <div>
            <select class="form-select mb-2" name="public" type="boolean">
              <span class="input-group-text"><i
                  class="fa-solid fa-lock"
                ></i></span>
              <option selected>Is Public</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <button type="submit" class="btn-hover color-8">CREATE</button>
        </form>
      </div>
    </div>
  </div>
</div>