<div class="row d-flex justify-content-center">
  <div class="col-sm-5 ">
    <div class="card">
      <img src="{{event.poster}}" class="card-img-top-detail" alt="{{event.name}}">
      <div class="card-body">
        <div class="button-card">
          {{#if currentUser}}
          <div>
            <form method="post" action="/events/{{event.id}}/delete">
              <button type="submit" class="btn btn-outline-light mx-1 mb-3" href="">delete</button>
            </form>
          </div>

          <div>
            <form action="/events/{{event.id}}/edit" method="get">
              <a href="/events/{{event._id}}/edit" class="btn btn-outline-light mx-1 mb-3">Edit</a>
            </form>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">{{event.name}}</h1>
        <h5 class="card-text">{{event.artist}}</h5>
        <div class="date-hour">
          <p>{{prettyDate event.date}}, {{event.hour}}</p>
        </div>
        <div class="prize-detail">
          <h4>{{event.prize}} €</h4>
        </div>
        <div>
          {{#isJoin event.id currentUser}}
            <form method="post" action="/events/{{event.id}}/join">
              <button type="submit" class="btn btn-outline-warning mt-3 mb-3 mx-2">
                {{#isPublic event}}
                  JOIN
                {{else}}
                  BUY
                {{/isPublic}}            
              </button>
            </form>
          {{/isJoin}}
        </div>
      </div>
     <iframe style="border-radius:12px" src="{{event.song}}" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <div id="map"></div>
      <script>


        async function initMap() {
          const { Map } = await google.maps.importLibrary("maps");
          const map = new Map(document.getElementById("map"), {
            center: { lat: {{event.lat}}, lng: {{event.lng}} },
            zoom: 8,
            
            
            
          });
          new google.maps.Marker({
            position: {lat: {{event.lat}}, lng: {{event.lng}} },
            map: map,
            style: [{
              stylers: [{ saturation: +100 }]
            }],
            title: "hola"
          });
        }

        initMap();
      </script>
    </div>
  </div>
</div>
<div>
  {{#each event.users as |user|}}
    <img src="{{user.avatar}}" alt="{{user.username}}" />
  {{/each}}
</div>